<div class="nav">
    
        <nav class="nav-navs">
            <div class="nav-navs_simbol" routerLink="/">
                <!-- <img src="" alt="Home"> -->
                <p>◐</p>
                <p>Home</p>
            </div>
            <div class="nav-navs_simbol" routerLink="/products">
                <!-- <img src="" alt="Products"> -->
                <p>◉</p>
                <p>Prods.</p>
            </div>
            <div class="nav-navs_simbol" routerLink="/gestion">
                <!-- <img src="" alt="gestion"> -->
                <p>◒</p>
                <p>Gestión</p>
            </div>
        </nav>
    
</div>




                
        