.fondo{
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC
    

}

.blanco{
    background-color: white;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    
}

.hola{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;   
}

h3{
    font-family: 'Passions Conflict', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
    font-size: 15px ;
    margin: 20px 0px 20px 0px;
}

p{
    font-family: 'Roboto', sans-serif;
}