<app-shopeame></app-shopeame>
<app-navbar></app-navbar>
<div class="fondo">
    <div class="blanco">
        <div class="hola"><h2>Bienvenido a Shopéame</h2></div>
        <div>
            <h3>¿Qué es Shopéame?</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat quam ullam inventore voluptates esse, debitis repellat voluptatum ex nisi, cum, aspernatur vitae quae consectetur mollitia facilis sed laboriosam labore tempora!</p>
        </div>
        <div>
            <h3>¿Para qué puedo usar Shopéame?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quasi, aut excepturi, nulla ea natus voluptates perspiciatis minima ipsum doloribus laboriosam, consequuntur sequi! Aperiam eveniet reprehenderit blanditiis illo dolorem maxime?</p>
        </div>
        <div>
            <h3>¿Qué hacemos en Shopéame?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolores ullam provident sit deleniti enim dicta repudiandae odio ratione error nostrum dolorum reiciendis, possimus, explicabo sapiente voluptatum deserunt numquam magnam?</p>
        </div>
        <div>
            <h3>¿Es seguro usar Shopéame?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deleniti fugiat, officia quibusdam dolor recusandae. Enim necessitatibus fuga excepturi corporis vero, expedita modi! Distinctio enim inventore repudiandae aliquid sed mollitia.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
