.text{
    height: 30px;
}

.price{
    font-size: 20px;
}

img{
    height: 150px;
    width: 150px;

}
.button{
    margin: 0px 0px 0px 5px;
    background-color: white;
    color: #2264D1;
    border-radius: 1vh;
    border: solid;
    padding: 5px 5px 5px 5px;
}
.fondo{
    padding: 60px 0px 60px 0px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC
    

}

.blanco{
    background-color: white;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    
}